.header {
  padding: 20px 0;
}

.dark-theme .header {
  border-bottom: 1px solid var(--lightgray-color);
  background-color: var(--gray-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.header__info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: auto;
}

.header__info--today {
  font-weight: 400;
  padding: 5px 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header__info-date {
  display: flex;
  align-items: center;
}

.header__info-date span:last-child {
  margin-left: 5px;
}

.header__info-date {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;
}

.header__settings-btn {
  border: none;
  background-color: transparent;
  width: 25px;
  height: 25px;
  background-image: url('../static/pictures/setting.png');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform .35s;
}

.dark-theme .header__settings-btn {
  background-image: url('../static/pictures/setting-light.png');
}

.header__settings-btn:hover {
  transform: rotate(-90deg);
}